/* Error: unmatched "}".
 *     ,
 * 165 | }
 *     | ^
 *     '
 *   src\assets\sass\layout\_navPanel.scss 165:1  @import
 *   src\assets\sass\main.scss 58:10              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: unmatched "}".\a     \2577 \a 165 \2502  }\d\a     \2502  ^\a     \2575 \a   src\\assets\\sass\\layout\\_navPanel.scss 165:1  @import\a   src\\assets\\sass\\main.scss 58:10              root stylesheet';
}
