/* Nav Panel */

#navPanel {
    transform: translateX(20rem);
    transition: transform 0.7s ease-in-out;
    background: rgba(36, 38, 41, 0.95);
    height: 100%;
    overflow-y: auto;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 20rem;
    z-index: 10002;
    
    &.visible {
        transform: translateX(0);
    }
    
    > * {
        padding: 1rem 2rem;
        border-bottom: solid 1px rgba(255, 255, 255, 0.05);
    }
    
    > *:last-child {
        border-bottom: 0;
    }
    
    .close {
        text-decoration: none;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 20 20" zoomAndPan="disable"><style>line { stroke: %23ffffff; stroke-width: 1; }</style><line x1="2" y1="2" x2="18" y2="18" /><line x1="18" y1="2" x2="2" y2="18" /></svg>');
        background-position: 4px 4px;
        background-repeat: no-repeat;
        background-size: 12px 12px;
        color: rgba(255, 255, 255, 0.35);
        display: block;
        height: 20px;
        padding-left: 1.25rem;
        padding-top: 0;
        position: absolute;
        right: 1rem;
        text-align: left;
        top: 1rem;
        width: 20px;
        
        &:hover {
            background-color: rgba(255, 255, 255, 0.025);
        }
        
        &:active {
            background-color: rgba(255, 255, 255, 0.05);
        }
    }
    
    nav {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            
            li {
                padding: 0;
                
                a {
                    border: 0;
                    color: rgba(255, 255, 255, 0.75);
                    display: block;
                    line-height: 3rem;
                    padding: 0 1rem 0 1rem;
                    text-decoration: none;
                    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
                    
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.025);
                        color: rgba(255, 255, 255, 1);
                    }
                    
                    &:active {
                        background-color: rgba(255, 255, 255, 0.05);
                    }
                    
                    i {
                        margin-right: 0.75rem;
                        min-width: 1.25rem;
                    }
                }
            }
            
            &.icons {
                li {
                    a {
                        display: inline-block;
                        line-height: 2.5rem;
                        padding: 0.25rem 0.75rem;
                        text-align: center;
                        width: auto;
                        
                        .label {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

#navPanelToggle {
    text-decoration: none;
    height: 4rem;
    right: 0;
    line-height: 4rem;
    overflow: hidden;
    padding-left: 1.5rem;
    padding-right: 3rem;
    position: absolute;
    text-indent: 0;
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.9rem;
    font-weight: 600;
    text-align: right;
    top: 0;
    width: auto;
    min-width: 8rem;
    z-index: 10001;
    
    &:before {
        background: transparent;
        content: '';
        display: block;
        height: 44px;
        right: 0px;
        position: absolute;
        top: 6px;
        width: 44px;
        transition: background-color 0.2s ease-in-out;
    }
    
    &:after {
        background-image: url('data:image/svg+xml;charset=utf8,<svg width="20" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="%23ffffff" fill-rule="evenodd"><path d="M0 0h20v2H0zM0 7h20v2H0zM0 14h20v2H0z"/></g></svg>');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px 16px;
        content: '';
        display: block;
        height: 44px;
        right: 0px;
        position: absolute;
        top: 6px;
        width: 44px;
    }
    
    &.alt {
        &:hover {
            color: rgba(0, 0, 0, 1);
            
            &:before {
                background: rgba(255, 255, 255, 0.8);
            }
        }
        
        &:before {
            background: transparent;
        }
        
        &:after {
            background-image: url('data:image/svg+xml;charset=utf8,<svg width="20" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="%23000000" fill-rule="evenodd"><path d="M0 0h20v2H0zM0 7h20v2H0zM0 14h20v2H0z"/></g></svg>');
        }
    }
}

/* Responsive adjustments */
@media screen and (min-width: 981px) {
    #navPanel,
    #navPanelToggle {
        display: none;
    }
}

/* Body overlay when nav panel is visible */
body.is-navPanel-visible {
    overflow: hidden;
    
    #wrapper {
        filter: blur(1px);
        opacity: 0.5;
    }
    
    #navPanel {
        transform: translateX(0);
    }
}